html{
  scroll-behavior: smooth;
}

.navbar {
  font-size: 18px;
  background-image: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
  font-family: "Allerta Stencil";
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
  font-size: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e6e6e6; 
  border-radius: 10px;
}
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #e6e6e6;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    background-color: #4CAF50;
    color: white;
    border:none; 
    border-style:none;

  }
}




.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 75%;
  height: auto;
  left: 100px;
}
.hvrbox img {
  max-width: 75%;
}
.hvrbox .hvrbox-layer_bottom {
  display: inline-block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  /*background-color: #466D8A;*/
  padding: 15px;
  border-radius: 20px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}



/*new hover*/
.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: auto /*100%*/;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 890;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-dexter {
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}

figure.effect-dexter img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
  opacity: 0.4;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*hoverbox 2*/
.hvrbox1,
.hvrbox1 * {
  box-sizing: border-box;
}
.hvrbox1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 75%;
  height: auto;
  left: 220px;
}
.hvrbox1 img {
  max-width: 30%;
  margin-left: 65px;
}
.hvrbox1 .hvrbox-layer_bottom1 {
  display: inline-block;
}
.hvrbox1 .hvrbox-layer_top1 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 0;
  width: 55.5%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  /*background-color: #466D8A;*/
  padding: 15px;
  border-radius: 20px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox1 .hvrbox-layer_top1 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 0;
  width: 55.5%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  /*background-color: #466D8A;*/
  padding: 15px;
  border-radius: 20px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox1:hover .hvrbox-layer_top1,
.hvrbox1.active .hvrbox-layer_top1 {
  opacity: 1;
}
.hvrbox1 .hvrbox-text1 {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox1 .hvrbox-text_mobile1 {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active1 .hvrbox-text_mobile1 {
  display: block;
}

/*for hover thing*/
.frame {
  text-align: center; 
  position: relative;
  cursor: pointer;  
  perspective: 500px; 
}
.frame img {
  width: 300px;
  height: 300px;
}
.frame .details {
  width: 70%;
  height: 80%;  
  padding: 5% 8%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  transform-origin: 50%;
  background: rgba(255,255,255,0.9);  
  opacity: 0;
  transition: all 0.4s ease-in;
  
}
.frame:hover .details {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}
/*--------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  align-content: right;
  display: inline-block;

}

.proTitle {
  color: white;
  font-size: 16px;
  background-color: black;
  border: 1px black solid;
  padding: 5px;
  margin: 0px 5px;
  border-radius: 5px;
  font-weight: 800;

}

.proButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

}
/*--------*/
.example_e {
border: none;
background: #e6e6e6;
color: black !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_e:hover {
color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}


.grow {
  padding: 0px 10px 20px 10px ;
  border-radius: 10px;
  height: 50px;
  width: 75%;
  margin: 5px 9px 5px 100px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.9s;
  text-align: center;
  overflow: hidden;
}
.grow:hover {
  height: 200px;
    width: 75%;
}

/*.grow1 {
  padding: 0px 10px 20px 10px ;
  border-radius: 10px;
  height: 50px;
  width: 75%;
  margin: 5px 9px 5px 50px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.9s;
  text-align: center;
  overflow: hidden;
}
.grow1:on('click', function() {
  height: 200px;
    width: 75%;*/
}

.grow1 {
  background-color: #047600;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .grow1:hover {
  background-color: #047600;
}


.collapsible {
  background-color: #047600;
  color: black;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #047600;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #A6CBA5;

}



/*round 2 - for team*/
.hvrbox2,
.hvrbox2 * {
  box-sizing: border-box;
}
.hvrbox2 {
  position: relative;
  display: inline-block;
  overflow: hidden;

  max-width: 75%;
  height: auto;
  left: 130px;
}
.hvrbox2 img {
  max-width: 75%;
}
.hvrbox2 .hvrbox-layer_bottom2 {
  display: block;
}
.hvrbox2 .hvrbox-layer_top2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  /*background-color: #466D8A;*/
  padding: 15px;
  border-radius: 20px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox2:hover .hvrbox-layer_top2,
.hvrbox2.active .hvrbox-layer_top2 {
  opacity: 1;
}
.hvrbox2 .hvrbox-text2 {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox2 .hvrbox-text_2 {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox2.active .hvrbox-text_mobile {
  display: block;
}



/*hover thing*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.45);
  -webkit-filter: brightness(0.45);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 100%;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect .rotate {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  position: absolute;
}

.hovereffect hr {
  width: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect  hr:nth-child(2) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
}

.hovereffect h2, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.group1, .group2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.group1 {
  top: 40%;
}

.group2 {
  top: 60%;
}

.hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.group1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
  transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
}

.group2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
}

.hovereffect:hover hr:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0) rotate(45deg) scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}




/*hover effect 2*/
.hovereffect2 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect2 .overlay2 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect2 img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}

.hovereffect2:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}

.hovereffect2 h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect2 a.info2 {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect2 a.info2:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect2 a.info2, .hovereffect2 h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect2:hover a.info2, .hovereffect2:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding-left: 15px;
  padding-right: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.border1
    {
      border: 2px solid black;
      border-bottom:0px;
    }
.border2
    {
      border: 2px solid black;
      border-bottom:0px;
      border-top:0px;
      border-right:1px;
    }
.border3
    {
      border: 2px solid black;
      border-top:0px;
      border-right:0px;
    }

.border12
    {
      border: 2px solid black;
      border-bottom:0px;
      border-left:0px;
    }
.border22
    {
      border: 2px solid black;
      border-bottom:0px;
      border-top:0px;
      border-left:0px;
    }
.border32
    {
      border: 2px solid black;
      border-top:0px;
      border-left:0px;
    }

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /*font-family: Tahoma, Verdana, Segoe, sans-serif;*/
  font-family: "Allerta Stencil";
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 115%;
  margin: 0px -15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border:none; 
  border-style:none;
}

.button1 {
  background-color: #e6e6e6; 
  color: #0d0d0d; 
  border-radius: 10px;
  border:none; 
  border-style:none;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  border:none; 
  border-style:none;
}
.homebutton1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border:none; 
  border-style:none;
}

.homebutton {
  background-color: #e6e6e6; 
  border-radius: 10px; 
  padding-right: 10px;
  margin-bottom: 5px;
}

.homebutton:hover {
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  border:none; 
  border-style:none;
}

.title{
  font-family:'Lucida Grande', arial, sans-serif;
  text-align:center;
  text-shadow: 5px 2px 3px #8c8c8c; 
  font-size: 630%;
  margin-top: 5%;
  letter-spacing: 2px;
}

.titlesmalldesk{
  font-family:'Lucida Grande', arial, sans-serif;
  text-align:center;
  text-shadow: 5px 2px 3px #8c8c8c; 
  font-size: 500%;
  margin-top: 5%;
  letter-spacing: 2px;
}

.titlemob{
  font-family:'Lucida Grande', arial, sans-serif;
  text-align:center;
  text-shadow: 5px 2px 3px #8c8c8c; 
  font-size: 400%;
  margin-top: 5%;
  letter-spacing: 2px;
}


.example_e {
border: none;
background: #e6e6e6;
color: black !important;
font-weight: 100;
padding: 20px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_e:hover {
color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

.example_emob {
border: none;
background: #e6e6e6;
color: black !important;
font-weight: 100;
padding: 10px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
font-size: 13px;
}

.example_emob:hover {
color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*margin-top: 20px;*/
}

#customers td, #customers th {
  border: 2px solid #ddd;
  padding: 15px 20px 15px 10px;
  width: 25%;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#customers tr:nth-child(even){
  background-color: #f2f2f2;
}

#customers td:hover {
  background-color: #ccffcc;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  font-size: 25px;
  font-family: Arial Black;
  text-shadow: 1px 2px 10px black;
}

#customers tr td span {
  border: 2px solid #bfbfbf; 
  padding: 10px 25px 10px 25px; 
  margin: 25px 15px 25px 10px
}


#customersmob {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px;
}

#customersmob td, #customersmob th {
  border: 2px solid #ddd;
  padding: 15px 20px 15px 10px;
   width: 25%;
}

#customersmob tr:nth-child(even){
  background-color: #f2f2f2;
}

#customersmob th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  font-family: Arial Black;
  text-shadow: 1px 2px 10px black;
}

#customersmob tr td span {
  border: 2px solid #bfbfbf; 
  padding: 5px 10px 5px 10px; 
  margin: 5px 10px 5px 0px;
}

.faqSectTitle{
  font-size: 20px;
  background-color: #006622;
  color: white;
  border:2px solid black;
  border-radius: 10px;
  /*padding: -30px;*/
  padding-left: 10px; 
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.faqSectAnswer{
  font-size: 20px;
  background-color: #ccffcc;
  border:1px solid black;
  border-radius: 10px;
  /*padding: -5px;*/
  padding-left: 10px; 
  margin-bottom: 20px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}



.signupbut {
border: none;
background: black;
color: white !important;
font-weight: 100;
padding: 12px 30px;
margin-bottom: 10px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.signupbut:hover {
color: black !important;
font-weight: 700 !important;
letter-spacing: 4px;
background: none;
-webkit-box-shadow: 0px 10px 40px -10px black/*rgba(0,0,0,0.57)*/;
-moz-box-shadow: 0px 5px 40px -10px black/*rgba(0,0,0,0.57)*/;
transition: all 0.3s ease 0s;
}

.right {
  float:right;
  margin-right: 20px;
 }


#content-desktop {display: block;}
#content-small-desktop{display: none;}
#content-mobile {display: none;}

@media screen and (max-width: 1370px) {

#content-desktop {display: none;}
#content-small-desktop{display: block;}
#content-mobile {display: none;}

}


@media screen and (max-width: 800px) {

#content-desktop {display: none;}
#content-small-desktop{display: none;}
#content-mobile {display: none;}

}
